body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.login-main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30vw;
    max-width: 400px;
}

.login-heading {
    margin: 10px 0;
    font-size: 24px;
}

.input-box {
    text-align: left;
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.input-field i {
    color: #888;
    margin-right: 10px;
}

.input-field input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 20px;
    }
    .input-field {
        padding: 8px;
    }
    .btn {
        padding: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 15px;
        margin-top: 0px;
        margin-bottom: 200px;
    }
    .login-heading {
        font-size: 20px;
    }
    .input-field {
        padding: 6px;
    }
    .btn {
        padding: 10px;
        font-size: 14px;
    }
}